p {
  font-size: 16px;
  font-family: monospace;
  margin-left: 15px;
}

h1, h3 {
  color: green;
}

input {
  background-color:lightgreen;
}

#new-user, #add-exercises {
  padding:5px;
  margin: 10px;
  border-color: green;
  border-width: 2px;
  border-style: solid;
  background-color: lightgray;
}
